rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSproutMember() {
      return request.auth != null
        && request.auth.uid in [
          'FRSVgPioqZfYkWlBWYUdnPjEEO03',
          'eVuZNR5ZMtcBGsksyepA9fDkGVv1'
        ];
    }

    match /sproutHouseholds/shared/{document=**} {
      allow read, write: if isSproutMember();
    }
  }
}
